<header>
  <h1>Welcome to our wildlife website</h1>
</header>

<nav class="nav">
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Our team</a></li>
    <li><a href="#">Projects</a></li>
    <li><a href="#">Blog</a></li>
  </ul>

  <form class="search">
    <label for="search" class="hidden">Search</label>
    <input type="search" name="q" placeholder="Search query" />
    <input type="submit" value="Go!" />
  </form>
</nav>

<main>
  <article>
    <app-main-article></app-main-article>
    <app-comments></app-comments>
    <app-more-bears></app-more-bears>
  </article>
  <app-related-links></app-related-links>
</main>

<footer>
  <p>©Copyright 2050 by nobody. All rights reversed.</p>
</footer>
